<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Login User</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../append/css/styles.css" />
    <link rel="stylesheet" href="../append/css/login.css" />
  </head>

  <body>
    <div class="container">
      <div class="content first-content">
        <i class="secound-column-img"></i>
        <div class="first-column">
          <h2 class="title title-welcome ">Bem Vindo!</h2>
          <p class="description text-white ">Cadastre-se aqui.</p>
          <button class="btn btn-primary">Sign Up</button>
        </div>
        <div class="secound-column">
          <h2 class="title">Lgoin</h2>
          <form class="form">
            <input type="email" placeholder="e-mail" />
            <input type="password" placeholder="Password" />
            <button class="btn btn-login">Sign In</button>
          </form>
        </div>
      </div>
      <div class="content secound-content">
        <div class="secound-column">
          <h2 class="title">Welcome Back!</h2>
          <p class="description">To keep Connected</p>
          <p class="description">plase login with your</p>
          <button class="btn">Sign up</button>
        </div>
        <div class="secound-column">
          <h2 class="title">Create account</h2>
          <div class="social-media">
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">LinkedID</a></li>
              <li><a href="#">Google</a></li>
            </ul>
          </div>
          <p class="description">Sign in</p>
          <form class="form">
            <input type="text" placeholder="name" />
            <input type="email" placeholder="e-mail" />
            <input type="password" placeholder="Password" />
            <button class="btn">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
